.container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .signin-form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding-top: 80px;
    padding-bottom: 80px;

    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .form-control {
    width: 70%;
    padding: 25px;
    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: #F1EFEF;
    margin-left: 70px;
  }
  
  .error {
    color: #ff5722;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 70px;
  }
  
  button[type="submit"] {
    background-color: #ff5722;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70%;
    font-size: 15px;
    font-weight: 900;
    transition: background-color 0.3s ease;
    margin-left: 70px;
  }
  
  button[type="submit"]:hover {
    background-color: #e64a19;
  }
  
  .forgot-password {
    color: #ff5722;
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    margin-left: 180px;
    margin-top: -20px;
    margin-bottom: 20px;


  }
  
  .create-account-link {
    text-align: center;
    margin-top: 10px;
  }
  
   a {
    color: #ff5722;
    font-weight: 700;
  }
  